<mat-card class="cardWithShadow">
  <div class="p-8">
    <div
      class="rounded bg-light-primary hstack justify-content-between p-x-20 p-y-30"
    >
      <mat-card-title class="m-0">New Delhi</mat-card-title>
      <mat-card-subtitle class="m-t-0">Sunday 15 march</mat-card-subtitle>
    </div>
    <div class="hstack flex-row gap-12 p-x-20 p-y-20 m-t-5">
      <div
        class="bg-light-primary icon-48 rounded-circle d-flex align-items-center justify-content-center"
      >
        <i-tabler
          name="cloud-rain"
          class="icon-24 d-flex text-primary"
        ></i-tabler>
      </div>
      <div>
        <h3 class="text-primary m-t-0 f-s-24 f-w-500">32 °C</h3>
        <p class="m-b-0 m-t-6">Sunny Rainy</p>
      </div>
      <div class="m-l-20">
        <h3 class="m-b-6 m-t-0 f-s-24 f-w-500">25 °C</h3>
        <p class="m-b-0 m-t-6">Tonight</p>
      </div>
    </div>
  </div>
</mat-card>
