<div class="row">
  <div class="col-12">
    <app-product-card></app-product-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-sales-ample-pixel></app-sales-ample-pixel>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-download-count-chart></app-download-count-chart>
  </div>
  <div class="col-lg-5">
    <app-bandwidth-usage></app-bandwidth-usage>
    <app-download-count></app-download-count>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <app-products-availability></app-products-availability>
  </div>
  <div class="col-lg-5">
    <app-notification></app-notification>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-reviews></app-reviews>
  </div>
  <div class="col-lg-4">
    <app-visit-source></app-visit-source>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-experiances></app-experiances>
  </div>
  <div class="col-lg-4">
    <app-profile-card-two></app-profile-card-two>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <app-activity-timeline></app-activity-timeline>
  </div>
  <div class="col-lg-4">
    <app-account-profile></app-account-profile>
  </div>
</div>