Perfil/Habitat.EscolaDigital.Perfil/.vs
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Perfil.Application/obj
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.Application/bin
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.Domain/bin
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.Persistence/bin
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.WebApi/bin
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.WebApi/obj
Perfil/Habitat.EscolaDigital.Perfil/Habitat.EscolaDigital.Session.WebApi/Properties/launchSettings.json
teste/bin
teste/obj
Web/Angular/host/.vscode
Web/Angular/main/.vs
Web/Angular/mfe1/.vscode
