<mat-card class="cardWithShadow shadow-none material-pro-bg">
  <mat-card-content>
    <div class="d-flex align-items-center gap-12">
      <button
        mat-icon-button
        (click)="openDialog()"
        class="icon-60 d-flex align-items-center justify-content-center rounded-circle bg-white"
      >
        <i-tabler name="player-play" class="icon-24 d-flex"></i-tabler>
      </button>
      <div>
        <mat-card-title class="mat-mdc-card-title">Material Pro</mat-card-title>
        <mat-card-subtitle class="mat-mdc-card-subtitle"
          >The real story</mat-card-subtitle
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>
