<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-md-4">
        <app-product-a-sales></app-product-a-sales>
      </div>
      <div class="col-md-4">
        <app-product-b-sales></app-product-b-sales>
      </div>
      <div class="col-md-4">
        <app-product-c-sales></app-product-c-sales>
      </div>
      <div class="col-lg-12">
        <app-sales-overview></app-sales-overview>
      </div>
      <div class="col-lg-6">
        <app-product-sales></app-product-sales>
      </div>
      <div class="col-lg-6">
        <app-download-count></app-download-count>
        <app-weather-card></app-weather-card>
      </div>
      <div class="col-lg-12">
        <app-product-overview></app-product-overview>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-earning></app-earning>
    <app-discount></app-discount>
    <app-monthly-winner></app-monthly-winner>
    <app-new-items></app-new-items>
  </div>
</div>