<mat-card class="cardWithShadow">
  <div class="p-8">
    <div class="blog-image">
      <img
        src="assets/images/backgrounds/blog-bg.jpg"
        height="273"
        alt="img"
        class="w-100 rounded"
      />
    </div>
    <div class="p-20">
      <span
        class="bg-light-primary f-s-14 p-x-10 p-y-2 m-b-12 d-inline-block rounded-pill text-primary"
        >Technology</span
      >
      <mat-card-title class="m-b-0"
        >Business development new rules for 2025</mat-card-title
      >
      <p class="m-b-12 f-s-14 truncate-2">
        Lorem ipsum dolor sit amet, this is a consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut
      </p>
      <div
        class="d-flex justify-content-between align-items-center justify-content-between"
      >
        <button mat-flat-button>Read More</button>
        <a
          href="javascript:void(0)"
          class="d-flex "
          matTooltip="Share"
        >
          <i-tabler name="share" class="icon-24 d-flex"></i-tabler>
        </a>
      </div>
    </div>
  </div>
</mat-card>
