<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Recent Chats</mat-card-title>
  </mat-card-content>
  <ng-scrollbar class="chat-box w-100" style="height: 360px">
    <ul class="chat-listing m-0 p-30 p-t-0">
      <li class="m-t-24 d-sm-flex align-items-center">
        <div class="chat-img d-inline-block align-top">
          <img
            src="assets/images/profile/user-5.jpg"
            alt="user"
            class="rounded-circle"
            width="40"
          />
        </div>
        <div class="chat-content p-l-16 d-inline-block">
          <h5 class="f-s-14 f-w-500 m-b-8">James Anderson</h5>
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-primary d-inline-block m-b-8"
          >
            Lorem Ipsum is simply dummy text of the printing & type setting
            industry.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:56 am</div>
      </li>

      <li class="m-t-24 d-sm-flex align-items-center">
        <div class="chat-img d-inline-block align-top">
          <img
            src="assets/images/profile/user-6.jpg"
            alt="user"
            class="rounded-circle"
            width="40"
          />
        </div>
        <div class="chat-content p-l-16 d-inline-block">
          <h5 class="f-s-14 f-w-500 m-b-8">Bianca Doe</h5>
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-success d-inline-block m-b-8"
          >
            It’s Great opportunity to work.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:57 am</div>
      </li>

      <li class="odd m-t-24">
        <div class="chat-content p-l-16 d-inline-block text-right">
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-warning d-inline-block m-b-8"
          >
            I would love to join the team.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:58 am</div>
      </li>

      <li class="odd m-t-24">
        <div class="chat-content p-l-16 d-inline-block text-right">
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-warning d-inline-block m-b-8"
          >
            Whats budget of the new project.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:59 am</div>
      </li>

      <li class="m-t-24 d-sm-flex align-items-center">
        <div class="chat-img d-inline-block align-top">
          <img
            src="assets/images/profile/user-3.jpg"
            alt="user"
            class="rounded-circle"
          />
        </div>
        <div class="chat-content p-l-16 d-inline-block">
          <h5 class="f-s-14 f-w-500 m-b-8">Angelina Rhodes</h5>
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-primary d-inline-block m-b-8"
          >
            Well we have good budget for the project
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">11:00 am</div>
      </li>

      <li class="m-t-24 d-sm-flex align-items-center">
        <div class="chat-img d-inline-block align-top">
          <img
            src="assets/images/profile/user-5.jpg"
            alt="user"
            class="rounded-circle"
          />
        </div>
        <div class="chat-content p-l-16 d-inline-block">
          <h5 class="f-s-14 f-w-500 m-b-8">James Anderson</h5>
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-primary d-inline-block m-b-8"
          >
            Lorem Ipsum is simply dummy text of the printing & type setting
            industry.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:56 am</div>
      </li>

      <li class="odd m-t-24">
        <div class="chat-content p-l-16 d-inline-block text-right">
          <div
            class="message lh-sm f-w-400 f-s-15 bg-light-primary d-inline-block m-b-8"
          >
            Whats budget of the new project.
          </div>
        </div>
        <div class="chat-time d-inline-block text-right fs-2">10:59 am</div>
      </li>
    </ul>
  </ng-scrollbar>
  <div
    class="p-30 p-b-10 b-t-1 d-flex align-items-center justify-content-between gap-30"
  >
    <mat-form-field appearance="outline" class="w-100 b-0">
      <input class="b-0" matInput placeholder="Send message" />
    </mat-form-field>
    <button
      mat-fab
      color="primary"
      class="icon-44 m-b-16"
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</mat-card>
