<mat-card class="cardWithShadow">
  <mat-card-content class="p-24 p-b-0">
    <mat-card-title>Current Visitors</mat-card-title>
    <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
    <div id="current-visitors" style="width: 100%; height: 270px"></div>
  </mat-card-content>

  <div class="p-16">
    <div class="d-flex align-items-center justify-content-center gap-30">
      <div class="hstack gap-12 align-items-center">
        <i-tabler
          name="circle-filled"
          class="text-primary icon-12 d-flex"
        ></i-tabler>
        <span class="f-s-14 text-primary">India</span>
      </div>
      <div class="hstack gap-12 align-items-center">
        <i-tabler
          name="circle-filled"
          class="text-body icon-12 d-flex"
        ></i-tabler>
        <span class="f-s-14 text-body">USA</span>
      </div>
      <div class="hstack gap-12 align-items-center">
        <i-tabler
          name="circle-filled"
          class="text-secondary icon-12 d-flex"
        ></i-tabler>
        <span class="f-s-14 text-secondary">Africa</span>
      </div>
    </div>
  </div>
</mat-card>
