<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-sm-flex align-items-center justify-content-between m-b-10">
      <div>
        <mat-card-title>To Do list</mat-card-title>
        <mat-card-subtitle
          >List of your next task to complete</mat-card-subtitle
        >
      </div>
      <button mat-flat-button>Add Task</button>
    </div>
    <div class="to-do-widget common-widget">
      <ul class="list-task todo-list list-group list-style-none p-l-0 m-y-0">
        <li
          class="p-y-24 b-b-1 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center gap-8">
            <mat-checkbox class="m-b-0" color="primary"></mat-checkbox>
            <div>
              <div class="d-sm-flex align-items-center gap-4 m-b-4">
                <h5 class=" f-s-16 f-w-500 m-b-0 lh-sm">
                  Schedule meeting with
                </h5>
                <span
                  class="badge bg-light-primary f-s-12 f-w-500 p-x-10 p-y-2 rounded-pill text-primary"
                  >Today</span
                >
              </div>
              <p class="f-s-14 m-0">
                Phasellus quis rutrum leo quis vulputate tortor...
              </p>
            </div>
          </div>
          <img
            src="assets/images/blog/blog-img2.jpg"
            alt="img"
            width="56"
            height="56"
            class="rounded"
          />
        </li>
        <li
          class="p-y-24 b-b-1 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center gap-8">
            <mat-checkbox class="m-b-0" color="primary"></mat-checkbox>
            <div>
              <div class="d-sm-flex align-items-center gap-4 m-b-4">
                <h5 class=" f-s-16 f-w-500 m-b-0 lh-sm">
                  Forward all tasks
                </h5>
                <span
                  class="badge bg-light-secondary f-s-12 f-w-500 p-x-10 p-y-2 rounded-pill text-secondary"
                  >Yesterday</span
                >
              </div>
              <p class="f-s-14 m-0">
                Mauris cursus scelerisque felis et ultricies...
              </p>
            </div>
          </div>
          <img
            src="assets/images/blog/blog-img4.jpg"
            alt="img"
            width="56"
            height="56"
            class="rounded"
          />
        </li>
        <li
          class="p-y-24 b-b-1 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center gap-8">
            <mat-checkbox class="m-b-0" color="primary"></mat-checkbox>
            <div>
              <div class="d-sm-flex align-items-center gap-4 m-b-4">
                <h5 class=" f-s-16 f-w-500 m-b-0 lh-sm">
                  Give Purchase report to
                </h5>
                <span
                  class="badge bg-light-error f-s-12 f-w-500 p-x-10 p-y-2 rounded-pill text-error"
                  >Tomorrow</span
                >
              </div>
              <p class="f-s-14 m-0">
                Vestibulum non aliquet mi vitae mollis lorem...
              </p>
            </div>
          </div>
          <img
            src="assets/images/blog/blog-img3.jpg"
            alt="img"
            width="56"
            height="56"
            class="rounded"
          />
        </li>
        <li
          class="p-y-24 b-b-1 d-flex align-items-center justify-content-between"
        >
          <div class="d-flex align-items-center gap-8">
            <mat-checkbox class="m-b-0" color="primary"></mat-checkbox>
            <div>
              <div class="d-sm-flex align-items-center gap-4 m-b-4">
                <h5 class=" f-s-16 f-w-500 m-b-0 lh-sm">
                  Book flight for holiday
                </h5>
                <span
                  class="badge bg-light-warning f-s-12 f-w-500 p-x-10 p-y-2 rounded-pill text-warning"
                  >1 Week</span
                >
              </div>
              <p class="f-s-14 m-0">
                Aenean interdum auctor massa ut scelerisque...
              </p>
            </div>
          </div>
          <img
            src="assets/images/blog/blog-img1.jpg"
            alt="img"
            width="56"
            height="56"
            class="rounded"
          />
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
