<mat-card class="cardWithShadow">
  <div class="p-8">
    <img
      class="card-img-top w-100 profile-bg-height rounded overflow-hidden"
      src="assets/images/backgrounds/profile-bg.jpg"
      height="111"
      alt="Card image cap"
    />
    <div class="little-profile text-center p-20">
      <div class="pro-img">
        <img
          src="assets/images/profile/user-2.jpg"
          alt="user"
          class="rounded-circle shadow-sm"
          width="112"
        />
      </div>
      <mat-card-title class="f-s-24 m-b-4">Angela Dominic</mat-card-title>
      <mat-card-subtitle class="m-b-16"
        >Web Designer &amp; Developer</mat-card-subtitle
      >
      <button mat-flat-button class="m-b-24">Follow</button>
      <div class="row text-center p-t-20 justify-content-center b-t-1">
        <div class="col-4">
          <h2 class="m-b-8 m-t-0 f-s-24 f-w-500">1099</h2>
          <span class="f-s-14">Articles</span>
        </div>
        <div class="col-4">
          <h2 class="m-b-8 m-t-0 f-s-24 f-w-500">23,469</h2>
          <span class="f-s-14">Followers</span>
        </div>
        <div class="col-4">
          <h2 class="m-b-8 m-t-0 f-s-24 f-w-500">6035</h2>
          <span class="f-s-14">Following</span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
