<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <mat-card-title>Download Count</mat-card-title>
        <mat-card-subtitle>you can check the count</mat-card-subtitle>
      </div>
      <div class="ms-auto">
        <div class="hstack flex-row gap-12 align-items-center">
          <div class="hstack flex-row gap-4 text-secondary">
            <i-tabler name="circle-filled" class="icon-12"></i-tabler>
            <span class="f-s-14">Free</span>
          </div>
          <div class="hstack flex-row gap-4 text-primary">
            <i-tabler name="circle-filled" class="icon-12"></i-tabler>
            <span class="f-s-14">Premium</span>
          </div>
        </div>
      </div>
    </div>
    <apx-chart
      [series]="downloadcountChart.series"
      [dataLabels]="downloadcountChart.dataLabels"
      [chart]="downloadcountChart.chart"
      [legend]="downloadcountChart.legend"
      [xaxis]="downloadcountChart.xaxis"
      [yaxis]="downloadcountChart.yaxis"
      [grid]="downloadcountChart.grid"
      [stroke]="downloadcountChart.stroke"
      [fill]="downloadcountChart.fill"
      [tooltip]="downloadcountChart.tooltip"
      [colors]="downloadcountChart.colors"
      [responsive]="downloadcountChart.responsive"
      [plotOptions]="downloadcountChart.plotOptions"
    ></apx-chart>
  </mat-card-content>
</mat-card>
