<mat-card class="cardWithShadow bg-primary overflow-hidden">
  <mat-card-content>
    <mat-card-title class="text-white">Design Meetings</mat-card-title>
    <mat-card-subtitle class="text-white">2 Hours Left</mat-card-subtitle>
    <div class="d-flex align-items-center justify-content-between m-t-48">
      <div class="avatar-group d-flex align-items-center">
        <img
          src="/assets/images/profile/user-1.jpg"
          alt="user1"
          class="rounded-circle"
          width="40"
          height="40"
        />
        <img
          src="/assets/images/profile/user-2.jpg"
          alt="user2"
          class="rounded-circle"
          width="40"
          height="40"
        />
        <span
          class="icon-40 rounded-circle d-flex align-items-center justify-content-center bg-white f-s-12 f-w-500"
          >+54</span
        >
      </div>
      <span
        class="icon-40 rounded-circle d-flex align-items-center justify-content-center bg-warning"
      >
        <i-tabler
          name="arrow-up-right"
          class="icon-20 d-flex text-white"
        ></i-tabler>
      </span>
    </div>
  </mat-card-content>
</mat-card>
