<mat-card class="cardWithShadow">
  <div class="p-20">
    <mat-card-subtitle class="m-b-4">Online Revenue</mat-card-subtitle>
    <mat-card-title class="m-b-0">$2376</mat-card-title>
    <apx-chart
      [series]="downloadOptions.series"
      [chart]="downloadOptions.chart"
      [grid]="downloadOptions.grid"
      [xaxis]="downloadOptions.xaxis"
      [yaxis]="downloadOptions.yaxis"
      [dataLabels]="downloadOptions.dataLabels"
      [plotOptions]="downloadOptions.plotOptions"
      [tooltip]="downloadOptions.tooltip"
      [colors]="downloadOptions.colors"
      [stroke]="downloadOptions.stroke"
      [fill]="downloadOptions.fill"
    >
    </apx-chart>
  </div>
</mat-card>
