<mat-card class="cardWithShadow profile-card overflow-hidden">
  <img
    src="/assets/images/backgrounds/socialbg.jpg"
    class="card-img profile-img"
  />
  <mat-card-content
    class="p-16 card-img-overlay card-inverse social-profile text-center d-flex align-items-center"
  >
    <div class="align-self-center">
      <img
        src="assets/images/profile/user-2.jpg"
        width="100"
        class="rounded-circle"
      />
      <mat-card-title class="m-t-16 text-white">James Anderson</mat-card-title>
      <mat-card-subtitle class="text-white m-t-12 m-b-12"
        >&#64;jamesandre</mat-card-subtitle
      >
      <p class="text-white f-s-15">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt
      </p>
    </div>
  </mat-card-content>
</mat-card>
